out
downloader.core/target
downloader.ui/target
downloader.console/target
.idea
downloader.console/downloader.console.iml
downloader.core/downloader.core.iml
downloader.iml
downloader.ui/downloader.ui.iml